{% extends "index.html"%}

{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block contenido %}
</br>
</br>
</br>
</br>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4" style="color:darkolivegreen">Sobre Magnolia</h1>
        <p class="lead">Este blog fue creado para formar una comunidad sana en el mundo de la jardineria.
            La desarrolladora de este sitio es Bianca Pellacini, una estudiante y empleada de 19 años. Nacida en CABA, Bianca
            completo un bachillerato en Informatica y actualmente consiguio trabajo en una empresa de sistemas mientras planea comenzar con la carrera de Ingenieria en Sistemas de la UTN. 
        </p>
        </p>
    </div>
</div>
{% endblock %}