{% extends "index.html"%}

{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block title %}Agregar Comentario - MagnoliaBlog{% endblock %}
{% block contenido %}

<br/>
<br/>
<br/>
<div class="container">
    <h1 style="color:darkolivegreen">Agregar Comentario</h1>
    <br/>
    <br/>
    <div class="form-group">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-success">Comentar</button> 
    </form>
 </div>
</div>
{% endblock %}