{% extends "index.html"%}

{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block contenido %}
<br/>
<br/>
<br/>
<div class="container">
    {% if busqueda %}
        <h1 style="color:darkolivegreen">Resultados de la Busqueda</h1>
        <br/>
        {% for post in post %}

            <a href="{% url 'post_detail' post.pk %}" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">{{post.title}}</h5>
                  <small>{{post.post_date}}</small>
                </div>
                <p class="mb-1"><i>{{post.title_tag}}</i></p>
                <p class="mb-1">{{post.body|slice:":150"|safe}}...</p>
                <small>Autor: <i>{{post.author}}</i></small> 
                <br/>
                <br/>
        {% endfor %}

    {% else %}

        <h1 style="color:darkolivegreen">No se ingreso ninguna busqueda</h1>
    {% endif %}

{% endblock %}